extends layout

block content
    script(src="/scripts/iframehost-relay.js")
    div(class='row')
      div(class='col-sm-2')
      a(href='/users') Login &nbsp &nbsp
      a(href='/about') About
    h1= title
    div(class="container")
      iframe(src="/webquiz" id="webquiz_iframe" width="1000" height="800" style="border: none;")
      iframe(src="/ohif" id="ohif_iframe" width="3000" height="800" style="border: none;")    
