extends layout

block content
  h1= title
  p Welcome to #[em Baines Imaging - Radiology Coach], a web-based learning tool.
  <script src="/scripts/quiz-ohif-messageRelay.js"></script>
  <script src="/scripts/webquiz-listener.js"></script>